@import url('https://fonts.googleapis.com/css?family=Lora|Ubuntu');

h1, h2{
    font-family: 'Lora', 'serif';
}
p{
    font-family: 'Ubuntu', 'sans-serif';

}
a: link{
    color: Black;
}
a: visited{
    color: Purple;
}
a: hover{
    color: red;
}
